.myvideoroom-room-builder-settings .advanced-permissions select {
	width: 100%;
	display: block;
}

.myvideoroom-room-builder-settings .advanced-permissions strong {
	display: block;
	margin: 0 0 16px 0;
	font-weight: normal;
}
