.myvideoroom-admin {
	margin-right: 15px;
}

.myvideoroom-admin .notice {
	margin-right: 0;
}


/*region Nav Tab */
.myvideoroom-admin .nav-tab-wrapper li {
	margin-bottom: -1px	;
}

.myvideoroom-admin .nav-tab-wrapper a {
	text-decoration: none;
	color: #000000;
}

.myvideoroom-admin .nav-tab-wrapper a:hover {
	background: none;
}
/*endregion*/

/*region Header */
.myvideoroom-admin header h1 {
	float: right;
	max-width: 50%;
	text-align: right;
	line-height: 1.2em;
}

.myvideoroom-admin header img {
	float: left;
	width: 120px;
	height: 120px;
	display: block;
}

.myvideoroom-admin header:after {
	display: block;
	content: "";
	clear: both;
}
/*endregion*/



iframe.myvideoroom-admin-template-browser {
	width: 100%;
	height: 80vh;
}

/*region Room Templates*/
.myvideoroom-admin #myvideoroom-how-to-use-templates div.view {
	display: inline-block;
	width: calc(50% - 2px);
	max-width: 500px;
}

.myvideoroom-admin #myvideoroom-how-to-use-templates div.view img {
	width: 100%;
}
/*endregion*/

/*region Help/Getting Started - Tag Line */
.myvideoroom-admin aside.tag-line {
	max-width: 700px;
	border: 1px solid #c3c4c7;
	padding: 16px;
	background-color: #ffffff;
}

.myvideoroom-admin aside.tag-line p {
	font-size: 1.4em;
}

.myvideoroom-admin aside.tag-line img {
	float: left;
	margin-right: 16px;
}

.myvideoroom-admin aside.tag-line:after {
	content: '';
	display: block;
	clear: both;
}
/*endregion*/

/*region Help/Getting Started - Three Step Getting Started */
.myvideoroom-admin ol.three-step-getting-started {
	counter-reset: item;
	max-width: 700px;
	padding: 16px;
}

.myvideoroom-admin ol.three-step-getting-started li {
	counter-increment: item;
	display: block;
	width: 33%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
}

.myvideoroom-admin ol.three-step-getting-started li:before {
	content: counter(item);
	background: #327EAC;
	border-radius: 100%;
	color: white;
	width: 72px;
	line-height: 72px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0 8px 8px 0;
}

.myvideoroom-admin ol.three-step-getting-started li h4 {
	font-size: 24px;
	margin: 0;
	line-height: 1.1em;
	min-height: 80px;
}
/*endregion */
