/**
 * The frontend css for MyVideoRoom
 *
 * @package MyVideoRoomPlugin
 */

.myvideoroom-nav-tab-wrapper {
	
	margin-bottom: 4px;
	overflow: hidden;
}

.myvideoroom-nav-tab-wrapper ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.myvideoroom-nav-tab-wrapper li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;
}

.myvideoroom-side-tab {
	float: left;
	width: 7%;
	min-width: 7%;

}
.myvideoroom-content-tab {
	float: left;
	width: 93%;


}

.myvideoroom-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

.myvideoroom-nav-tab-wrapper li:after {
	border-bottom: 1px solid #c3c4c7;
	bottom: 0;
	clear: both;
	content: "\00a0";
	display: inline-block;
	margin-left: -1px;
	padding-right: 2px;
	position: absolute;
	z-index: 1;
}

.myvideoroom-nav-tab-wrapper li:last-child:after {
	width: 1000%;
}

.myvideoroom-nav-tab-wrapper li a {
	border: 1px solid #c3c4c7;
	border-radius: 3px 3px 0 0;
	display: inline-block;
	padding: 4px 12px;
}

.myvideoroom-nav-tab-wrapper li a.nav-tab-active {
	border-bottom: 1px solid transparent;
	font-weight: 500;
}

.myvideoroom-nav-tab-wrapper li a:not(.nav-tab-active) {
	background: #dcdcde;
}

.myvideoroom-nav-tab-wrapper li a.nav-tab-active,
.myvideoroom-nav-tab-wrapper li a:not(.nav-tab-active) {
	text-decoration: none;
}

.myvideoroom-nav-tab-wrapper li a.nav-tab-active:hover,
.myvideoroom-nav-tab-wrapper li a:not(.nav-tab-active):hover {
	text-decoration: underline;
}

.myvideoroom-user-image {
	z-index: 1;
	color: #fff;
	display: table;
	font-size: 0;
	position: relative;
	width:  250px;
	height: 260px;
}

.myvideoroom-product-image {
	color: #fff;
	display: table;
	width:  50px;
	height: 50px;
}

/* Create three unequal columns that floats next to each other */
.mvr-table-row {
	border-color: #C6C0AD;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
	display: grid;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 2px 2px;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	display: flex;
}



  }

  .mvr-left, .mvr-right {
	width: 50%;
  }

  .mvr-middle {
	width: 50%;
  }

  /* Clear floats after the columns */
  .mvr-table-row:after {
	content: "";
	display: table;
	clear: both;
  }
