.mvr-nav-shortcode-outer-wrap {
	background-color: white;
	border: 2px solid #c3c4c7;
	padding: 1px;
}

.mvr-nav-shortcode-outer-wrap-clean {
	display: flow-root;
}

.mvr-menu-header-item {
	background: #c7c7c7;
	border: 1px solid #afafaf;
	color: #555;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71428571;
	padding: 5px 10px;
	text-decoration: none;
}

.mvr-security-room-host {
	max-width: 1063px;
	z-index: 99;
}

.mvr-header-outer-wrap {
	background-color: white;
	padding: 10px;
}

.mvr-header-section {
	position: relative;
	width: 100%;
	border-top: solid;
}

.mvr-header-section canvas {
	width: 100%;
}

.mvr-header-section:after {
	clear: both;
	content: '';
	display: block;
}

.mvr-header-title {
	color: #848B92;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.7px;
	margin-bottom: 9px;
	text-transform: uppercase;
}

.mvr-header-title:before {
	display: none;
}

.mvr-header-table-right {
	float: right;
	text-align: right;
	width: 65%
}

.mvr-header-table-left {
	float: left;
	text-align: left;
	width: 35%;
}

.mvr-header-align {
	margin-right: 6px;
	margin-top: 4px;
	margin-left: 6px;
}
