.mvr-form-button {
	font-size: 17px;
	line-height: 1.52947;
	font-weight: 400;
	letter-spacing: -.021em;
	font-family: "SF Pro Text","Myriad Set Pro",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","SF Pro Icons","Apple Legacy Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	background-color: #0070c9;
	background: -webkit-gradient(linear, left top, left bottom, from(#42a1ec), to(#0070c9));
	background: -webkit-linear-gradient(#42a1ec, #0070c9);
	background: linear-gradient(#42a1ec, #0070c9);
	border-color: #07c;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	margin: 5px 5px 5px 5px!important;
	display: inline-block!important;
	min-width: 30px!important;
	padding-left: 10px!important;
	padding-right: 10px!important;
	padding-top: 7px!important;
	padding-bottom: 7px!important;
	text-align: center!important;
	white-space: nowrap!important;
}

.mvr-form-button-max {
	max-width: 125px;
	max-height: 30px;
}

.mvr-nav-shortcode-outer-wrap {
	background-color: white;
	padding: 10px 10px 10px 10px;
	border: 1px solid #c3c4c7;
}

.mvr-nav-shortcode-outer-wrap-clean {
	padding: 10px 10px 10px 10px;
	display: flow-root;
}

.mvr-nav-settingstabs-outer-wrap {
	background-color: #f0f0f0;
	padding: 10px 10px 0 10px;
	border: 1px solid #c3c4c7;
}

.mvr-header-menu {
	display: block;
	float: left;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-top: -10px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-menu-header-item {
	display: block;
	float: left;
	border: 1px solid #afafaf;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #c7c7c7;
	color: #555;
	text-decoration: none;
}

.mvr-menu-header-item-switch {
	border: 1px solid #ccc;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-outer-box-wrap {
	border: 3px solid #d2d2d2;
	background: #e7e7e7;
	padding: 12px;
	margin: 5px;
}

.mvr-visualiser-image {
	text-align: end;
	width:20%;
}

.mvr-visualiser-image-left {
	text-align: -webkit-match-parent;
	width:20%;
}

.mvr-header-table {
	width:100%;
}

.mvr-security-room-host {
	max-width: 1063px;
	z-index: 99;
}

.mvr-header-config-title {
	line-height: initial;
}

.mvr-header-outer-wrap {
	background-color: white;
	padding: 10px;
}

.mvr-header-section {
	width: 100%;
	position: relative;
}

.mvr-header-section:after {
	content: '';
	display: block;
	clear: both;
}

.mvr-header-title {
	color: #848B92;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 9px;
	letter-spacing: -0.7px;
}

.mvr-header-table-right {
	float:right;
	text-align: right;
	width:65%
}

.mvr-header-table-left {
	width: 35%;
	float:left;
	text-align: left;
}

.mvr-icons {
	font-size: 23px!important;
	color: #797156;
	vertical-align: middle;
	margin-bottom: 8px;
	background-color:#fff;
	height:20px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:25px;
}
