ul.myvideoroom-outer-nav-tab-wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu {
	display: flex;
}

.mvr-title-header {
	display: inline !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mvr-ul-header {
	display: inline !important;
	margin-bottom: 0;
	margin-top: 10px;
}

.mvr-admin-page-wrap {
	border: 1px solid #c3c4c7;
	margin-top: 0;
	padding: 8px;
}

.mvr-preferences-paragraph {
	color: rgb(32, 32, 32);
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px !important;
}

.mvr-icons-enabled {
	color: green;
	font-size: 18px;
	text-decoration: none;
}

.mvr-icons-disabled {
	color: red;
	font-size: 18px;
	text-decoration: none;
}

.mvr-user-image {
	color: #fff;
	display: table;
	font-size: 0;
	height: 150px;
	position: relative;
	width: 150px;
	z-index: 1;
}

.mvr-template-image {
	color: #fff;
	display: table;
	font-size: 0;
	height: 350px;
	position: relative;
	width: 350px;
	z-index: 1;
}

.mvr-access-image {
	border-radius: 50px;
	color: #fff;
	display: table;
	font-size: 0;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	place-self: center;
	position: relative;
	width: 200px;
	z-index: 1;
}

.mvr-table {
	border-color: #C6C0AD;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	box-shadow: 0px 0px 5px 4px rgb(0 0 0 / 30%);
	display: grid;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	transition: background 0.3s,
	border 0.3s, border-radius 0.3s,
	box-shadow 0.3s;
}

.mvr-row {
	border-color: #C6C0AD;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	box-shadow: 0px 0px 5px 4px rgb(0 0 0 / 30%);
	display: grid;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.mvr-header-text {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.mvr-button-table {
	margin-bottom: 10px;
	margin-top: 15px;

}

.mvr-template-table {
	text-align: -webkit-center;
	vertical-align: middle;
	width: 50%;

}

.mvr-template-text {
	font-size: 14px;
	font-weight: 400;
	text-align: -webkit-center;
	vertical-align: middle;
}

.mvr-main-button-enabled {
	background-color: rgb(41, 22, 150);
	border-radius: 3px;
	color: rgb(255 255 255) !important;
	display: inline;
	font-size: 14px;
	font-weight: 400;
	margin-left: 2px !important;
	padding: 8px;
	text-align: -webkit-center;
	vertical-align: middle;
}


.mvr-main-button-disabled {
	background-color: rgb(221, 6, 6);
	border-radius: 3px;
	color: rgb(255 255 255) !important;
	display: inline;
	font-size: 14px;
	font-weight: 400;
	margin-left: 2px !important;
	padding: 8px;
	text-align: -webkit-center;
	vertical-align: middle;
}

.mvr-main-button-notice {
	background-color: rgb(12, 0, 173);
	border-radius: 3px;
	color: rgb(255 255 255) !important;
	display: inline;
	font-size: 14px;
	font-weight: 400;
	margin-left: 2px !important;
	padding: 8px;
	text-align: -webkit-center;
	vertical-align: middle;
}

.mvr-select-box {
	background-color: rgb(253, 253, 253) !important;
	border: 1px solid #6d6d6d !important;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	vertical-align: middle;
	width: 60% !important;
}

.mvr-select-box-small {
	background-color: rgb(253, 253, 253) !important;
	border: 1px solid #6d6d6d !important;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	vertical-align: middle;

}

.mvr-menu-shortcode-button {
	background: #c7c7c7;
	border: 1px solid #afafaf;
	color: #555;
	display: inline;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71428571;
	padding: 5px 10px;
	text-decoration: none;
}

.mvr-ul-header {
	display: inline;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top: 10px;
}


.mvr-hide {
	display: none;
}

.mvr-reception-image:hover + .mvr-hide {
	background-color: rgb(253, 253, 253) !important;
	border: 3px solid #d2d2d2;
	color: rgb(41, 41, 41);
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	position: absolute;
	width: 70% !important;
}

.mvr-video-template:hover + .mvr-hide {
	background-color: rgb(253, 253, 253) !important;
	border: 3px solid #d2d2d2;
	color: rgb(41, 41, 41);
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	position: absolute;
	width: 70% !important;
}

.mvr-custom-video:hover + .mvr-hide {
	background-color: rgb(253, 253, 253) !important;
	border: 3px solid #d2d2d2;
	color: rgb(41, 41, 41);
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	position: absolute;
	width: 70% !important;
}

.mvr-title-label {
	color: #848B92;
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.7px;
}

.mvr-add-page {
	background-color: rgb(253, 253, 253) !important;
	border: 2px solid #d2d2d2;
	color: rgb(41, 41, 41);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	margin: 1px;
	padding: 4px;
}

.myvideoroom-sitevideo-add-room-button {
	display: none;
}

.mvr-add-page-form {
	background-color: rgb(253, 253, 253) !important;
	border: 3px solid #d2d2d2;
	color: rgb(41, 41, 41);
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	position: relative;
	width: 70% !important;
}

.mvr-add-page-form .close {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	right: -15px;
	text-align: center;
	top: -15px;
	width: 30px;
}

.mvr-add-page-form .close:hover {
	background-color: #CCCCCC;
}
