
.cc-menu-header {
	
	display: block; 
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
	
}


.cc-sub-menu-header {
	
	display: none; 
	float: left;
	border: 1px solid #ccc;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
	
}

.cc-sub-menu-header-block {
	
	display: block; 
	float: left;
	border: 1px solid #ccc;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
	
}

.tabCtrl-header{

	background: #e0e0e0;  
	display: block;
	float: left;
	width: 95%;
	border: 1px solid #ccc;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.cc-tab-items-block {

	display: block; 
	float: left;
	border: 1px solid #ccc;
	width: 90%;
	margin: 20px 20px 20px 20px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.cc-tab-items-none {

	display: none; 
	float: left;
	border: 1px solid #ccc;
	width: 90%;
	margin: 20px 20px 20px 20px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.cc-td-head-top {

	    vertical-align: baseline;
}
.outer-box-wrap {

	border: 3px solid #969696;
	background: #ebedf1;
	padding: 12px;
	margin: 5px;
}
.cc-heading-head-top {
	text-align: start;
	vertical-align: baseline;
}

.cc-visualiser-image {
	
	text-align: end;
	width:20%;
}

.cc-visualiser-text-header {
	
	text-align: end;
	width:70%;
}

.cc-visualiser-image-left {
	
	text-align: -webkit-match-parent;
	width:20%;
}

.cc-explainer-text	{
	margin: initial;
}

.cc-header-table {
width:80%;

}



.cc-header-table-3 {
	width:33%;
	
	}

