table.myvideoroom-visualiser-output {
	border-collapse: collapse;
	width: 100%;
}

table.myvideoroom-visualiser-output th,
table.myvideoroom-visualiser-output td{
	padding: 8px;
	vertical-align: top;
}
