.mvr-menu-header {

	display: block;
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-sub-menu-header {

	display: none;
	float: left;
	border: 1px solid #ccc;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-sub-menu-header-block {

	display: block;
	float: left;
	border: 1px solid #ccc;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.tabCtrl-header{

	background: #f5f5f5;
	display: block;
	float: left;
	width: 95%;
	border: 1px solid #ccc;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-tab-items-block {

	display: block;
	float: left;
	border: 1px solid #ccc;
	width: 90%;
	margin: 20px 20px 20px 20px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

.mvr-tab-items-none {

	display: none;
	float: left;
	border: 1px solid #ccc;
	width: 90%;
	margin: 20px 20px 20px 20px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

#mvr-role-display-table {

	display: block;
	float: left;
	width: 90%;
	margin: 20px 20px 20px 20px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #d8d8d8;
	color: #555;
	text-decoration: none;
}

#mvr-role-display-table th{

	display: block;
	float: left;
	color: #555;
	text-decoration: none;

}
.mvr-tab-align {
	display: block;
	float: left;
	border: 2px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: 500;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

#visualiser-tab {
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 20px;
}

.mvr-td-head-top {

	vertical-align: baseline;
}
.outer-box-wrap {

	border: 3px solid #969696;
	background: #ebedf1;
	padding: 12px;
	margin: 5px;
}
.mvr-heading-head-top {
	text-align: start;
	vertical-align: baseline;
}

.mvr-visualiser-image {

	text-align: end;
	width:20%;
}

.mvr-visualiser-text-header {

	text-align: end;
	width:70%;
}

.mvr-visualiser-image-left {

	text-align: -webkit-match-parent;
	width:20%;
}

.mvr-explainer-text	{
	margin: initial;
}

.mvr-header-table {
	width:80%;

}

.mvr-menu-ul {
	display: flex;

}

.mvr-header-table-3 {
	width:33%;

}
